@import url('https://fonts.googleapis.com/css?family=Merriweather:400|Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Meie+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700');


                /*ENTER PAGE*/
body {
  height: inherit;
  margin: 0px auto;
  width: 100%;
  height: auto;
}
.welcome {
  background: url("../images/backgroundShaded.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}


.midbar {
  background-color: rgba(0, 0, 0, .2);
  width: 100%;
  height: 35%;
  position: relative;
  top: 30%;
  bottom: 30%;
}


.intro {
  position: relative;
  width: 100%;
  top: 13%;
}

.welcome h1 {
  font-family: "Meie Script", cursive;
  letter-spacing: .01em;
  color: #fff;
  margin: 0px;
  text-align: center;
  font-size: 4.8em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  position: relative;
  padding-top: 4%;
}

.welcome h3 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin: 0px;
  margin-right: 11%;
  text-align: center;
  font-size: 1.3em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  position:relative;

}




                          /* ABOUT */
  /* LEFT */

.left {
    width: 50%;
    height: inherit;
    overflow: auto;
    float: left;
  }

.about {
  background-color: #efefef;
  height: 100vh;
}

.message {
  padding: 5%;
}

.message h1 {
  font-family: "Roboto";
  font-size: 3em;
  margin: 0px;
}

.message p {
  line-height: 1.9em;
  font-size: 1.1em;
  font-family: "Merriweather";
}

.message ul {
  line-height: 1.9em;
  font-size: 1.1em;
  font-family: "Merriweather";
  list-style: none;
  float: left;
}

.buttons {
  float: left;
  clear: both;

}

#rsvp, #contact {
  float: left;
  width: 130px;
  height: 60px;
  background-color: rgba(67, 134, 252, .5);
  border-radius: 5px;
  box-shadow: 5px 5px 3px #000;
  margin-left: 15px;
}

#rsvp a, #contact a {
  text-decoration: none;
  color: #000;
}

#rsvp p, #contact p {
  style: block;
  text-align: center;
}


/* RIGHT */


.right {
width: 50%;
height: inherit;
float: right;
overflow: auto;
}



iframe {
display: block;
margin: auto;
padding-top: 10%;
}



                         /* PLAYERS */
.players {
  background-color: rgba(29, 39, 49, 1);
  height: 90vh;
}


/*                  TABLE STYLING                      */

.playerTable {
  overflow-x: scroll;
  font-family: "Roboto";
  font-weight: light;
  margin-left: 5%;
  box-shadow: 0px 0px 5px #000;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #e3e3e3;
}

tr:nth-child(odd) {
  background-color: rgba(204, 204, 204, .9);
}

td {
  font-weight: 300;
}

th:first-child, td:first-child {
  padding-right: 20px;
  text-align: left;
  border-right: 2px solid rgba(0, 0, 0, 1);
  white-space: nowrap;
}

td:first-child {
  font-weight: 400;
}

th, td {
  padding: 4px 8px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}

th {
    background-color: rgba(193, 197, 242, 0.6);
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    font-size: 1.1em;
    font-weight: bold;
}

td a {
  text-decoration: none;
  color: black;
  transition: color .3s;
}

td a:hover {
  color: rgba(0, 0, 0, 0.5);
}

#winner {
  background-color: rgba(255, 224, 73, 0.9);
  font-weight: 400;
}

#DNP {
  font-style: italic;
  color: #777;
}

caption {
  caption-side: bottom;
}

caption #winner {
  background-color: rgba(255, 224, 73, 0.9);
  font-weight: 400;
}

caption #DNP {
  font-style: italic;
  font-weight:300;
  color: #777;
}


/* END TABLE STYLING */
