body {
  margin: 0px auto;
  width: 100%;
  height: auto;
  background-color: rgba(240, 240, 240, 1);
}

.bigbox {
  width: 960px;
  margin: 0px auto;
  height: 100%;
}

                      /* BEGIN HEADER */
#header {
  width: inherit;
  background-color: rgba(240, 240, 240, 1);
  height: 75px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .5);
  position: fixed;
  top: 0px;
}

#nav {
  float: right;
  margin-right: 20px;
  height: 100%;
}

#nav li {
display: inline;
font-size: 1em;
text-decoration: none;
padding: 10px;
float: right;
}

/*  includes underline animation */
li > a {
  font-family: "Merriweather", serif;
  text-decoration: none;
  position: relative;
  color: #000;
}

li > a:hover {
  color: #000;
}

li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



/*  ends underline animation */




                              /* END HEADER */



#banner {
  height: relative;
  width: 100%;
  margin-top: 75px;
}

#main {
  margin: 0px auto;
  width: 100%;
}


#news h1 {
  font-family: "Merriweather", serif;
}


#news p, li {
font-family: "Open Sans", sans-serif;
line-height: 1.5;
}

.header {
  font-family: "Merriweather";
}

#mainPhoto {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  box-sizing: border-box;
  float: right;
  margin: 25px 0px 25px 25px;
  position: relative;
}

#footer {
  background-color: rgba(240, 240, 240, .5);
  width: inherit;
  margin: 0px;
  font-family: "Merriweather", serif;
  height: 52px;
  position: relative;
  clear: both;
}

#footer p {
  float: right;
  margin-right: 20px;
  font-size: .9em;
}
